*{
    margin: 0;
}
.layui-row:after, .layui-row:before {
    content: '';
    display: block;
    clear: both;
}
.rightMenu {
     position: absolute;
     width: 120px;
     line-height: 24px;
     z-index: 999;
     background: #FFF;
     border: 1px solid #F2F2F2;
     border-bottom: none;
     border-radius: 3px;
     display: none;
}
a {
    color: black;
}

td{
    padding: 0 0 0 0;
}
li {
    font-size: 20px;
    list-style: none;
}

img {
    height: 60px;
    padding: 5px 30px 10px 30px;
}

div {

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#menu li {
    width: 113px;
    height: 31px;
    opacity: 1;
    font-size: 22px;
    font-family: Source Han Sans CN Regular, Source Han Sans CN Regular-Regular;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    line-height: 15px;
    float: left;
    padding-top: 15px;
}



#menu{
    width: 1325px;
    height: 45px;
    opacity: 1;
    background: #6d97f7;
    box-shadow: 1px 1px 1px 0px rgba(4,4,4,0.09);
}

#menu li:hover {
    width: 113px;
    height: 30px;
    opacity: 1;
    background: #3766ed;
    cursor: pointer;
}


#menu #tem{
    float: right;
    padding: 0 0 0 50px ;
    width: 128px;
    color: white;
    font-size: 20px;
    height: 45px;
}
#menu #tem:hover{
    float: right;
    background-color: #6d97f7;

}
#tem img{
    height: 25px;
    padding:  5px 0  0 0;
}

#quit {
    position: absolute;
    left: 450px;
    top: 300px;
    width: 461px;
    height: 145px;
    border-radius: 1px;
    z-index: 2049;
    display: none;
    background: white;
}

#show{
    width: 1366px;
    height: 800px;
    color: white;
    /*background-color: white;*/
    position: absolute;
    top: 0;
    border-radius: 1px;
    z-index: 2049;
    display: none;
    background-image: url("../css/images/inputAndResult/bg.png");
}

#loginer{
    left: 450px;
    top: 300px;
    width: 484px;
    height: 169px;
    color: white;
    background-color: #f2f2f2;
    position: absolute;
    border-radius: 10px;
    z-index: 2047;
    display: none;
    font-size: 27px;
    padding-left: 23px;
    padding-top: 20px;
}
#loginer label{
    width: 100px;
}
#closeBtn,#quitBtn{
    margin-left: 87px;
    margin-right: 83px;
    margin-top: 41px;
    cursor: pointer;
}

#out_t:hover{
    background-color: #ff3500;
    color: white;
}

#donghua{
    width: 358px;
    height: 435px;
    /*background-image: url("../css/images/show.gif");*/
    background-image: url("../css/images/inputAndResult/bg2.png");
    background-size: 358px 435px;
    left: 285px;
    top: 143px;
    position: absolute;
}


#loginf{
    width: 315px;
    height: 346.4px;
    /*background-image: url("../css/images/show.gif");*/
    /*background-image: url("../css/images/inputAndResult/bg2.png");*/
    background-color: white;
    left: 643px;
    top: 143px;
    z-index: 2049;
    position: absolute;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 88px;
    padding-left: 43px;
}

#ok{
    height: 24px;
    width: 115px;
    background-image: url('../css/images/inputAndResult/btn.png');background-size: 24px 115px;
    cursor: pointer;
    margin-left: 200px;
    margin-top: 100px;
}

#openTest div{
    margin-bottom: 15px;
}
#openTest{
    color: #0d1534;
     width: 315px;
     height: 346.4px;
     background-color: white;
     left: 643px;
     top: 143px;
     z-index: 2049;
     position: absolute;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
    padding-top: 44px;
    padding-bottom: 44px;
     padding-left: 0px;
    text-align: center;
 }

input[type=checkbox] {
    cursor: pointer;
    position: relative;
    width: 15px;
    height: 15px;
    font-size: 14px;
    line-height: 1.2;
}

input[type=checkbox]::after {
    position: absolute;
    top: 0;
    color: #000;
    width: 16px;
    height: 15px;
    display: inline-block;
    visibility: visible;
    padding-left: 0px;
    text-align: center;
    content: ' ';
    border-radius: 3px
}
input[type=checkbox]:checked::after {
    content: "✓";
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background-color: #00ff50;
}


#userim{
    width:15px;height: 16px;
    background-image: url('../css/images/inputAndResult/un.png');background-size: 15px 16px;
    ;
    float: left;
    margin-right: 6px;
}
#psim{
    width:15px;height: 16px;
    margin-right: 6px;
    background-image: url('../css/images/inputAndResult/pw.png');background-size: 15px 16px;
float: left;
}
#username,#password{
    width: 273px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 0px 2px 1px #2d85d5 inset;
    border: 0px;
    float: left;
    margin-right: 35px;
    margin-bottom: 28px;
    margin-top: 14px;
}
#dou{
    cursor: pointer;
    font-size: 22px;
    font-family: Source Han Sans CN Regular, Source Han Sans CN Regular-Regular;
    font-weight: 400;
    height: 39px;
}

#dou:hover,#in:hover{
    cursor: pointer;
    background: #3766ed;

}

#BuzzerStop{
    position: absolute;
    left: 1096px;
    top: 37px;
    cursor: pointer ;
}

#FiringPin{
    position: absolute;
    left: 1051px;
    top: 37px;
    cursor: pointer ;
    color: red;
}

#ALLin{
     position: absolute;
     left: 1016px;
     top: 37px;
     cursor: pointer ;
     color: red;
 }