<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laola.apa.mapper.ProjectCurveMapper">
  <resultMap id="BaseResultMap" type="com.laola.apa.entity.ProjectCurve">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="x" jdbcType="INTEGER" property="x" />
    <result column="y" jdbcType="INTEGER" property="y" />
  </resultMap>
  <select id="get1st" resultType="java.lang.Integer">
      select  distinct(t) t from project_curve where  x=1 and project_id =#{pid};
  </select>
  <select id="getAddR2" resultType="java.lang.Float">
    select y from  project_curve where project_id=#{pid} and t=(select t from project_node where project_id=#{pid} and si = 4)
  </select>
  <select id="getlast" resultType="java.lang.Float">
    select  t from project_curve where project_id =#{pid} order by x desc limit 1;

  </select>


</mapper>