<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laola.apa.mapper.ProjectMapper">
    <resultMap id="BaseResultMap" type="com.laola.apa.entity.Project">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="starttime" jdbcType="VARCHAR" property="starttime"/>
        <result column="endtime" jdbcType="INTEGER" property="endtime"/>
        <result column="cup_number" jdbcType="INTEGER" property="cupNumber"/>
        <result column="project_param_id" jdbcType="INTEGER" property="projectParamId"/>
        <result column="project_num" jdbcType="INTEGER" property="projectNum"/>
        <result column="human_code" jdbcType="INTEGER" property="humanCode"/>
        <result column="place_no" jdbcType="INTEGER" property="placeNo"/>
        <result column="rack_no" jdbcType="INTEGER" property="rackNo"/>
        <result column="bar_code" jdbcType="VARCHAR" property="barCode"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="factor" jdbcType="VARCHAR" property="factor"/>
        <result column="density" jdbcType="VARCHAR" property="density"/>
        <result column="absorbance" jdbcType="VARCHAR" property="absorbance"/>
        <result column="abnormal" jdbcType="INTEGER" property="abnormal"/>
        <result column="absorbance_low" jdbcType="INTEGER" property="absorbanceLow"/>
        <result column="absorbance_height" jdbcType="INTEGER" property="absorbanceHeight"/>
        <result column="a" jdbcType="INTEGER" property="a"/>
        <result column="b" jdbcType="INTEGER" property="b"/>
    </resultMap>
    <insert id="insertProjectList">
        insert into
        project(id,starttime,endtime,cup_number,project_param_id,project_num,human_code,place_no,rack_no,
        bar_code,type,factor,density,absorbance,a,b)
        values
        <foreach collection="projects" item="projects" index="index" separator=",">
            (#{projects.id}, #{projects.starttime}, #{projects.endtime}, #{projects.cupNumber},
            #{projects.projectParamId}, #{projects.projectNum},
            #{projects.humanCode}, #{projects.placeId}, #{projects.rackId}, #{projects.barCode}, #{projects.type},
            #{projects.factor}, #{projects.density}
            , #{projects.absorbance} , #{projects.a}, #{projects.b})
        </foreach>
    </insert>

    <delete id="deleteProjectByParamId">
      DELETE FROM project WHERE project_param_id=#{paramid};
  </delete>
    <delete id="deleteProjects">
      DELETE FROM project WHERE endtime is null AND type=1;
  </delete>
    <delete id="deleteProjectsByDateIdParamId">
      DELETE FROM project WHERE DATE_FORMAT(starttime,"%Y-%m-%d %H:%i") = #{dateId} and project_param_id = #{paramId} and type = 2;
  </delete>
    <select id="getQcLastOneByDataAndType" resultType="com.laola.apa.entity.ProjectQC">
    SELECT * FROM project WHERE id in(
    SELECT max(id) FROM project
    WHERE DATE_FORMAT(starttime,'%Y-%m-%d')=DATE_FORMAT(now(),'%Y-%m-%d')
        and type in(3,4,5)
        GROUP BY project_param_id,type )
    </select>

    <update id="addby37">
        update project set density='≤0.5' where id =(
        SELECT ss from (select id ss from project where ISNULL(density)
        and DATE_FORMAT(starttime,'%Y-%m-%d')=DATE_FORMAT(now(),'%Y-%m-%d') and type = 1 LIMIT 1)a);

    </update>
</mapper>