<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laola.apa.mapper.RegentPlaceMapper">
    <resultMap id="BaseResultMap" type="com.laola.apa.entity.RegentPlace">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="project_param_id" jdbcType="INTEGER" property="project_param_id"/>
        <result column="place" jdbcType="INTEGER" property="place"/>
        <result column="code" jdbcType="INTEGER" property="code"/>
    </resultMap>
    <select id="getAll" resultType="com.laola.apa.entity.RegentPlace">
        select * from regent_place;
    </select>


</mapper>